/articles/Spring18/common-data-service-analytics
/articles/Spring18/common-data-service-apps
/articles/Spring18/data-integration
/articles/Spring18/dynamics365-business-central
/articles/Spring18/dynamics365-customer-service
/articles/Spring18/dynamics365-field-service
/articles/Spring18/dynamics365-finance-operations @margoc @kfend @shylaw @josaw1 @tfehr
/articles/Spring18/dynamics365-gamification
/articles/Spring18/dynamics365-marketing
/articles/Spring18/dynamics365-portal
/articles/Spring18/dynamics365-project-service
/articles/Spring18/dynamics365-retail @margoc @kfend @shylaw @josaw1 @tfehr
/articles/Spring18/dynamics365-sales
/articles/Spring18/dynamics365-talent @margoc @kfend @shylaw @josaw1 @tfehr
/articles/Spring18/finance-insights
/articles/Spring18/linkedin-sales-navigator
/articles/Spring18/microsoft-flow
/articles/Spring18/microsoft-stream
/articles/Spring18/powerapps
/articles/Spring18/power-bi
/articles/Spring18/voice-of-customer
